steps:
- script: |
    echo ##vso[task.prependpath]$(ANDROID_HOME)\tools\bin
    echo ##vso[task.setvariable variable=ANDROID_NDK]$(ANDROID_HOME)\android-ndk-r17c
  displayName: 'Add Android to PATH'

- bash: |
    echo ${ANDROID_NDK}
    echo ${ANDROID_HOME}
    printenv  

- script: |
    sdkmanager "system-images;android-19;google_apis;armeabi-v7a"
    sdkmanager "platforms;android-$(ANDROID_BUILD_VERSION)"
    sdkmanager "build-tools;$(ANDROID_TOOLS_VERSION)"
    sdkmanager "add-ons;addon-google_apis-google-23"
    sdkmanager "extras;android;m2repository"    
  displayName: 'Setup Android SDK'

- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: yarn install
  displayName: 'Install depdendencies'

- script: gradlew.bat RNTester:android:app:assembleRelease
  displayName: 'Build'
  
- script: npm test
  displayName: 'Test'

#- task: PublishTestResults@2
#  inputs:
#    testResultsFiles: '$(JEST_JUNIT_OUTPUT)'
#  condition: always()
#  displayName: 'Publish test results'
