# Azure Pipelines configuration for react-native
#
# Builds Windows, Linux, and macOS

jobs:
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  variables:
    ANDROID_BUILD_VERSION: 27
    ANDROID_TOOLS_VERSION: 27.0.3
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    JEST_JUNIT_OUTPUT: reports/junit/js-test-results.xml
  steps:
  - template: azure-pipelines-windows.yml

# TODO
#- job: Linux
#  pool:
#    vmImage: 'ubuntu-16.04'
#  steps:
#  - template: templates/npm-steps.yml

# Jobs to run:
# - JavaScript (Node 8)
# - JavaScript (Node 10)
# - OSX
# - OSX (Xcode 10)
# - Android
# - Analyze
# - detox
